<div class="row">

    <div class="col-12">
      <form method="get">
        <input type="text" name="servicename" value="" />
        <input type="submit" value="Search"/>
      </form>
    </div>


    {% for n in servicesData %}

      <div class="col-lg-4 col-md-6">
        <div class="single-feature mb-38">
           <div class="title d-flex flex-row pb-20">
              <span class="{{n.service_icon}}"></span>
              <h4><a href="#">{{n.service_title}}</a></h4>
           </div>
           <p>
             {{n.service_des | safe }}
           </p>
        </div>
      </div>

    {% empty %}
    <h1>NO DATA FOUND</h1>
    {% endfor %}  
</div>              

<nav aria-label="...">
  <ul class="pagination">

    {% if servicesData.has_previous %}
    <li class="page-item">
      <a class="page-link" href="/services/?page=1" tabindex="-1">First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/services/?page={{servicesData.previous_page_number}}" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% for n in totalpagelist %}
    <li class="page-item"><a class="page-link" href="/services/?page={{n}}">{{n}}</a></li>
    {% endfor %}

    {% if servicesData.has_next %}

    <li class="page-item">
      <a class="page-link" href="/services/?page={{servicesData.next_page_number}}">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/services/?page={{lastpage}}">Last</a>
    </li>
    {% endif %}
  </ul>
</nav>
